@model ProyectoP3Opta4.Models.Roles

@{
    ViewBag.Title = "Eliminar Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Confirmar Eliminación</h2>

    <p>¿Está seguro que desea eliminar el siguiente rol?</p>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nombre</th>
                        <td>@Model.nombre</td>
                    </tr>
                    <tr>
                        <th>Descripción</th>
                        <td>@Model.descripcion</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @using (Html.BeginForm("EliminarConfirmado", "Roles", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.id_rol)

        <div class="btn-container">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            <a href="@Url.Action("Index", "Roles")" class="btn btn-secondary">Cancelar</a>
        </div>
    }

</div>
















